#root {
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
