@font-face {
  font-family: 'Gilroy Light';
  src: url('./assets/gilroy-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Gilroy Light', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: rgb(255, 255, 163);
  --accent-dark: rgb(44, 44, 42);
  --accent-darker: rgb(33, 33, 31);
  --border-default: 1px solid #4b4b3f;
  --border-accent: 1px solid rgb(168, 168, 138);
  --border-muted: 1px solid #47463f;
  --font-size-muted: 0.8rem;
  --warning: #f99;
}

a {
  font-weight: 500;
  color: #ffc;
  text-decoration: inherit;
}
a:hover {
  color: #ff0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

h2, h3, h4 {
  color: #ffc;
}

ul {
  list-style: none;
  padding: 0 0.5rem;
  margin: 0;
}

p {
  margin: 0;
}

hr.divider {
  border: none;
  border-bottom: var(--border-default);
}

.hidden {
  display: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-warning {
  color: var(--warning);
}